.container {
    padding: 0.6em 0.8em;
    white-space: break-spaces;
    word-break: break-word;
    transition-duration: 0.2s;
    transition-property: background-color;
    &:hover {
        background-color: #f2f2f2;
    }
}

.footer {
    margin-top: 0.4em;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
}

.date {
    font-style: italic;
    font-size: 0.8em;
}

.name {
    font-weight: bold;
    font-size: 0.8em;
}

.list {
    padding-right: 1em;
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100% - 140px);
}
